<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a485d2">  <td>17/10/05 11:20:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:20</td>   <td>4966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:24</td>   <td>8327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:27</td>   <td>12058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:28</td>   <td>12921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:31</td>   <td>15918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:33</td>   <td>17319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:36</td>   <td>20331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:37</td>   <td>21926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:42</td>   <td>26705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:43</td>   <td>27371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:45</td>   <td>29418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:46</td>   <td>30152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:49</td>   <td>33161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:49</td>   <td>33870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:51</td>   <td>35501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:52</td>   <td>36897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:57</td>   <td>41896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:20:58</td>   <td>42568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:02</td>   <td>46728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:04</td>   <td>48237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:06</td>   <td>50496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:07</td>   <td>51296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:08</td>   <td>52566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:09</td>   <td>53954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:13</td>   <td>57147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:14</td>   <td>58714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:16</td>   <td>60273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:17</td>   <td>61681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:18</td>   <td>63057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:20</td>   <td>64463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:24</td>   <td>68277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:24</td>   <td>69050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:26</td>   <td>70675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:28</td>   <td>72248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:31</td>   <td>75559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:32</td>   <td>76283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:34</td>   <td>78158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:35</td>   <td>79748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:40</td>   <td>84491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:41</td>   <td>85191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:44</td>   <td>88559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:46</td>   <td>90111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:49</td>   <td>93470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:50</td>   <td>94163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:53</td>   <td>98091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:55</td>   <td>99511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:58</td>   <td>102491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:21:59</td>   <td>104032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:22:04</td>   <td>108672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:22:05</td>   <td>109778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">sendMessageSuccessfully</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:22:09</td>   <td>113673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:22:10</td>   <td>115065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.showsBlankMessage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">showsBlankMessage</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:22:12</td>   <td>116460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:22:13</td>   <td>117142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.showsInvalidEmailMessage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">showsInvalidEmailMessage</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:22:15</td>   <td>119820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/05 11:22:16</td>   <td>120520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.showsInvalidOptionMessage()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">showsInvalidOptionMessage</td> 
  <td>main@1597249648</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/10/05 11:22:17</td>   <td>121746</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.automation.tests.ContactUsTest@c038203]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1597249648</td>   <td></td> </tr>
</table>
