<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9ab6">  <td>17/10/02 16:29:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.automation.tests.IndexTest@cc285f4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/02 16:29:47</td>   <td>5206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IndexTest.Initialize()[pri:0, instance:com.automation.tests.IndexTest@cc285f4]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/02 16:29:52</td>   <td>10821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndexTest.verifyLogin()[pri:0, instance:com.automation.tests.IndexTest@cc285f4]">verifyLogin</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/02 16:29:56</td>   <td>14311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IndexTest.Initialize()[pri:0, instance:com.automation.tests.IndexTest@cc285f4]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/10/02 16:29:57</td>   <td>16000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndexTest.verifyRegistration()[pri:0, instance:com.automation.tests.IndexTest@cc285f4]">verifyRegistration</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/10/02 16:30:06</td>   <td>24124</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.automation.tests.IndexTest@cc285f4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/10/02 16:30:06</td>   <td>24751</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>17/10/02 16:30:08</td>   <td>26676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>17/10/02 16:30:12</td>   <td>30639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">sendMessageSuccessfully</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>17/10/02 16:30:14</td>   <td>32348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>17/10/02 16:30:14</td>   <td>33044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.sendMessageSuccessfully(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">sendMessageSuccessfully</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>17/10/02 16:30:16</td>   <td>34536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>17/10/02 16:30:17</td>   <td>35346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.showsBlankMessage()[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">showsBlankMessage</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>17/10/02 16:30:18</td>   <td>36559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>17/10/02 16:30:19</td>   <td>37326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.showsInvalidEmailMessage()[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">showsInvalidEmailMessage</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>17/10/02 16:30:20</td>   <td>38508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.InitializePage()[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">&gt;&gt;InitializePage</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>17/10/02 16:30:21</td>   <td>39259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.showsInvalidOptionMessage()[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">showsInvalidOptionMessage</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/10/02 16:30:22</td>   <td>40621</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.automation.tests.ContactUsTest@55f3ddb1]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
</table>
